# Core
fastapi
uvicorn
python-multipart

# Whisper STT
openai-whisper

# GPT + Claude APIs
openai
anthropic
python-dotenv

# TTS
gTTS
TTS==0.22.0

# Optional: Emotion Detection
transformers
torch==2.1.2
torchaudio==2.1.2
scipy

# 
elevenlabs

# frontend
streamlit
sounddevice


# Other
uuid
numpy